/*#######################通用样式#################*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
img{
    vertical-align: middle;
}
input{
    outline: none;
}

/*#######################头部样式#################*/
#nav{
    width: 100%;
    height: 56px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}
#nav>.nav_content{
    width: 1440px;
    height: 56px;
    /*background-color: red;*/
    margin: 0 auto;
}
#nav>.nav_content>.nav_content_l{
    float: left;
}
#nav>.nav_content>.nav_content_l>a>img{
    height: 56px;
    width: 110px;
}
#nav>.nav_content>.nav_content_c{
    float: left;
    width: 700px;
    height: 56px;
    /*background-color: red;*/
    margin-left: 200px;
}
#nav>.nav_content>.nav_content_c>ul>li{
    /*float: left;*/
    display: inline-block;
    line-height: 56px;
    height: 56px;
}
#nav>.nav_content>.nav_content_c>ul>li>a{
    display: inline-block;
    padding:0 15px;
    height: 56px;
    /*background-color: red;*/
}
#nav>.nav_content>.nav_content_c>ul>li>a>img{
    width: 23px;
    height: 23px;
    margin-right: 15px;
}
#nav>.nav_content>.nav_content_c>ul>li>a:hover{
    background-color: #ccc;
}
#nav>.nav_content>.nav_content_c>ul>li>input{
    width: 225px;
    height: 38px;
    background-color: #eeeeee;
    border-radius: 40px;
    padding-left: 15px;
    padding-right: 40px;
    font-size: 14px;
    color: #b8b8b8;
    border: 0 solid #000;
}
#nav>.nav_content>.nav_content_c>ul>.search_input{
    position: relative;
    margin-left: 15px;
}
#nav>.nav_content>.nav_content_c>ul>li>.search_icon{
    width: 23px;
    height: 23px;
    position: absolute;
    top: 18px;
    right: 10px;
}
#nav>.nav_content>.nav_content_r{
    height: 56px;
    width: 300px;
    /*background-color: red;*/
    float: right;
    line-height: 56px;
}
#nav>.nav_content>.nav_content_r>.jsa_btn{
    margin-left: 10px;
}
#nav>.nav_content>.nav_content_r>.header_btn{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 10px;
}
#nav>.nav_content>.nav_content_r>.write_btn{
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: #ea6f5a;
    line-height: 40px;
    border-radius: 20px;
    color: white;
}
#nav>.nav_content>.nav_content_r>.write_btn>img{
    margin-left: 10px;
}
/*#######################内容样式#################*/
#main{
    width: 1000px;
    height: 2000px;
    /*background-color: red;*/
    margin: 70px auto;
}
#main .main_left{
    width: 688px;
    /*background-color: greenyellow;*/
    float: left;
    height: 800px;
}
/*=============左边顶部内容==============*/
#main .main_left .main_left_top{
    height: 270px;
    width: 100%;
}
#main .main_left .main_left_top>img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
/*=============左边中间内容==============*/
#main .main_left .main_left_center{
    width: 100%;
    height: 110px;
    margin-top: 15px;
    /*background-color: orangered;*/
}
#main .main_left .main_left_center>a{
    display: inline-block;
    background-color: #e7e7e7;
    height: 32px;
    font-size: 12px;
    width: 90px;
    margin:0 15px 10px 0;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    vertical-align: top;
}
#main .main_left .main_left_center>a>img{
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0 10px 0 0;
}
#main .main_left .main_left_center>a:last-of-type{
    background-color: transparent;
    border:none;
    font-size: 12px;
    color: #787878;
    line-height: 32px;
}
/*=============左边底部内容==============*/
#main .main_left .main_left_cell{
    height: 500px;
    /*background-color: skyblue;*/
}
#main .main_left .main_left_cell .cell{
    border-top: 1px solid #f0f0f0;
    padding: 10px 0;
    height: 125px;
}
#main .main_left .main_left_cell .cell dt{
    height: 100px;
    width: 20%;
    float: right;
}
#main .main_left .main_left_cell .cell dt img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
#main .main_left .main_left_cell .cell dd{
    width: 80%;
    float: left;
}
#main .main_left .main_left_cell .cell dd p{
    font-size: 14px;
    margin: 5px 0;
    color: #666;
}
#main .main_left .main_left_cell .cell dd a{
    margin-right: 10px;
    font-size: 12px;
    color: #b4b4b4;
}
#main .main_left .main_left_cell .cell dd a span,
#main .main_left .main_left_cell .cell dd a img{
    vertical-align: middle;
}
/*=============右边顶部内容==============*/
#main .main_right{
    width: 300px;
    height: 800px;
    /*background-color: mediumpurple;*/
    float: right;
}
#main .main_right .main_right_top{
    height: 290px;
    /*background-color: darkolivegreen;*/
}
#main .main_right .main_right_top img{
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
}
/*=============右边中间内容==============*/
#main .main_right .main_right_center{
    width: 100%;
    height: 64px;
    padding: 7px 10px;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    margin-bottom: 30px;
    background-color: #fff;
}
#main .main_right .main_right_center dl dt{
    width: 100%;
    height: 100%;
}
#main .main_right .main_right_center dl dt img{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
#main .main_right .main_right_center dl dd{
    float: left;
}
#main .main_right .main_right_center dl dd p:last-of-type{
    font-size: 12px;
    margin-top: 3px;
    color: #9d9d9d;
}
#main .main_right .main_right_center dl dd p:first-of-type{
    font-size: 14px;
    margin-top: 6px;
}
/*=============右边底部内容==============*/
#main .main_right .main_right_bottom{
    height: 300px;
    width: 100%;
    /*background-color: #b2dba1;*/
}
#main .main_right .main_right_bottom .header{
    height: 45px;
    width: 100%;
    padding: 10px 5px;
    color: #b8b8b8;
    font-size: 14px;
    /*background-color: skyblue;*/
}
#main .main_right .main_right_bottom .header a{
    float: right;
    color: #b8b8b8;
}
#main .main_right .main_right_bottom  .cell ul li{
    width: 100%;
    height: 50px;
    position: relative;
    line-height: 50px;
}
#main .main_right .main_right_bottom  .cell ul li a img{
    width: 48px;
    height: 48px;
    border-radius: 5px;
}
#main .main_right .main_right_bottom  .cell ul li div{
    line-height: 20px;
    width: 200px;
    position: absolute;
    top: 5px;
    left: 50px;
    margin: auto 10px;
    font-size: 12px;
}
#main .main_right .main_right_bottom  .cell ul li div p{
    color: #9d9d9d;
}
#main .main_right .main_right_bottom  .cell ul li .focus{
    float: right;
    color: #4cae4c;
    font-size: 14px;
}
#main .main_right .main_right_bottom  .cell ul li .footer{
    display: inline-block;
    height: 30px;
    width: 90%;
    background-color: #fff;
    position: absolute;
    top: 10px;
    left: 15px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    font-size: 14px;
    color: #b4b4b4;
    border: 1px solid #b4b4b4;
}